@model IEnumerable<Elevate.BL.Models.Course>

@{
    ViewData["Title"] = "Home Page";
}

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <header>
            <div class="container text-center my-5">
                <h1>Welcome to Elevate</h1>
                <p>Unlock your potential with our expertly crafted courses, designed to equip you with essential skills and practical knowledge. Whether you're looking to improve your financial literacy, plan for retirement, or build a solid investment strategy, our courses provide step-by-step guidance to help you succeed.</p>
                @if (!string.IsNullOrEmpty(TempData["Message"] as string))
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["Message"]
                    </div>
                }
            </div>
        </header>

        <!-- Card Section -->
        <section class="py-5">
            <div class="container">
                <div class="row gx-5">
                    @foreach (var course in Model)
                    {
                        <div class="col-lg-3 mb-5">
                            <div class="card d-flex flex-column">
                                <a href="@Url.Action("CourseDetails", "Home", new { id = course.Id })">
                                    <img class="card-img-top image-pop" src="~/images/@course.ImgUrl" alt="@course.Name" style="width: 300px; height: auto;" />
                                </a>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="@Url.Action("CourseDetails", "Courses", new { id = course.Id })">
                                        <h5 class="card-title mb-3">@course.Name</h5>
                                    </a>
                                    <p class="card-text mb-0">@course.Description</p>
                                    <p class="card-text mb-0">Cost: $@course.Cost</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- Call to action -->
        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5 mb-4">
            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div class="mb-4 mb-xl-0">
                    <div class="fs-3 fw-bold text-white">Stay updated on new courses!</div>
                    <div class="text-white-50">Sign up for our newsletter to receive the latest course updates and offerings.</div>
                </div>
                <div class="ms-xl-4">
                    <div class="input-group mb-2">
                        <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                        <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                    </div>
                    <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                </div>
            </div>
        </aside>
    </main>
    <!-- Footer -->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Elevate 2024</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</body>

